<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>labo. 04 - ex2</title>

        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <section class="exercice">
            <div class="wrapper">
                <h1>labo. 04 - ex2 : Les bases de l'orienté objet</h1>
                <p>Toutes les instructions pour cet exercice se trouvent dans l'énoncé sur Classroom.</p>

                <section class="number">
                    <div class="number__header">
                        <h2>
                            02a -
                            <span>Créez la classe Main</span>
                        </h2>
                    </div>
                    <div class="number__content">{% include "_partials/ex2/_ex2a.html" %}</div>
                </section>
                <section class="number">
                    <div class="number__header">
                        <h2>
                            02b -
                            <span>Clic et toggle</span>
                        </h2>
                    </div>
                    <div class="number__content">{% include "_partials/ex2/_ex2b.html" %}</div>
                </section>
                <section class="number">
                    <div class="number__header">
                        <h2>
                            02c -
                            <span>click multiple et changement de contenu</span>
                        </h2>
                    </div>
                    <div class="number__content">{% include "_partials/ex2/_ex2c.html" %}</div>
                </section>
                <section class="number" id="num4">
                    <div class="number__header">
                        <h2>
                            02d -
                            <span>défi optionel</span>
                        </h2>
                    </div>
                    <div class="number__content">{% include "_partials/ex2/_ex2d.html" %}</div>
                </section>
            </div>
        </section>
    </body>
</html>
