<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CW3 - Semaine 04</title>

        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <section class="exercice">
            <div class="wrapper">
                <h1>.:: bases de l'orienté objet</h1>
                <p>Toutes les instructions pour cet exercice se trouvent dans l'énoncé sur Classroom.</p>

                <section class="number">
                    <div class="number__header">
                        <h2>03 - Créez la classe Main</h2>
                    </div>
                    <div class="number__content">{% include "_partials/javascript/_ex03.html" %}</div>
                </section>
                <section class="number">
                    <div class="number__header">
                        <h2>04 - Clic et toggle</h2>
                    </div>
                    <div class="number__content">{% include "_partials/javascript/_ex04.html" %}</div>
                </section>
                <section class="number">
                    <div class="number__header">
                        <h2>05 - click multiple et changement de contenu</h2>
                    </div>
                    <div class="number__content">{% include "_partials/javascript/_ex05.html" %}</div>
                </section>
                <section class="number" id="num4">
                    <div class="number__header">
                        <h2>06 - défi optionel</h2>
                    </div>
                    <div class="number__content">{% include "_partials/javascript/_ex06.html" %}</div>
                </section>
            </div>
        </section>
    </body>
</html>
